<div id="recomandari" class="container-fluid" style="margin-top:50px;">
    <h1 class="text-center">Destinatii recomandate pentru o vacanta de neuitat</h1>
    <div class="grid">
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="http://q-ec.bstatic.com/images/city/max500/133/133568.jpg" alt="img16">
            <figcaption>
                <h2><span>Hulhumale</span></h2>
                <p>destinaţia ideală pentru plajă, snorkeling şi scufundări!</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    </div>
</div>

